<div class="container">
  <div class="row mt-5">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit 'guardar lista', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
